* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 36px;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}


body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.5;
    font-family: Verdana,sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 82px;
    height: 100vh;
    grid-template-areas: 
    
        'mylogo about'
        'mywork resume'
        'swingby contact'
        'footer footer';
}

section {
    row-gap: 16px;
}

footer {
    background-color: black;
}

.section_1 {
    grid-area: mylogo;
    color: white;
    background-color: black;
    text-align: center;
    height: 700px;
    .logo {
        padding: 16px;

       .logo_header {
        padding-top: 64px;
        padding-bottom: 64px;

       }

       .logo_content {
            padding-top: 64px;
            padding-bottom: 64px;
            text-align: center;
            

            p {
                padding-top: 16px;
                padding-bottom: 16px;
                &:nth-of-type(1) {
                    &:hover {
                        color: #fff;
                        background-color: #607d8b;
                    }
                }

                &:nth-of-type(2) {
                    &:hover {
                        color: #fff;
                        background-color: #009688;
                    }
                }

                &:nth-of-type(3) {
                    &:hover {
                        color: #fff;
                        background-color: #616161;
                    }
                }

                &:nth-of-type(4) {
                    &:hover {
                        color: #fff;
                        background-color: #795548;
                    }
                }
            }

            a {
                color: white;
                width: 100%;
                padding: 8px 16px;

                
            }
       }
    }
}

.section_2 {
    grid-area: about;
    text-align: center;
    color: white;
    background-color: #607d8b;
    height: 700px;
    .about_section {
        padding: 16px;
        padding-top: 64px;
        padding-bottom: 64px;
        >div {
            >img {
                width: 50%;
                border-radius: 50%;
                margin: 16px;
            }

            .about_text {
                padding: 12px 24px;
                text-align: left;

                p {
                    margin: 15px 0;
                }
            }
        }

        
    }
}

.section_3 {
    grid-area: mywork;
    min-height: 800px;
    color: black;
    background-color: #f1f1f1;
    text-align: center;

    .work_head {
        padding-top: 64px;
        padding-bottom: 64px;

        p {
            margin: 15px 0;
        }
    }

    .img_block {
        display: flex;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    >p {
        margin-top: 33px;
        margin-bottom: 15px;
    }
}

.section_4 {
    grid-area: resume;
    min-height: 800px;
    color: white;
    background-color: #3f51b5;
    text-align: center;
    padding: 64px 16px;

    .resume_head {
        p {
            margin: 15px 0;
        }
    }

    .resume_content {
        padding: 0 16px;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            display: table;

            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                &:nth-of-type(even) {
                    background-color: white;
                    color: black;
                }

                td {
                    padding: 8px 8px;
                    display: table-cell;
                    text-align: left;
                    vertical-align: top;
                    padding-left: 16px;
                }
            }
        }
    }
}

.section_5 {
    grid-area: swingby;
    text-align: center;
    color: white;
    background-color: #616161;
    height: 700px;
    padding: 0 16px;

    >div {
        padding-top: 64px;
        padding-bottom: 64px;

        >p {
            margin: 15px 0;
        }
    }
}

.section_6 {
    grid-area: contact;
    color: white;
    background-color: #009688;
    height: 700px;
    padding: 0 16px;

    .contact_main {
        padding: 64px 24px;

        >p {
            opacity: 0.6;
            margin: 15px 0;
        }

        form {
            color: black;
            background-color: white;
            padding: 0 16px;
            padding-top: 32px;
            padding-bottom: 70px;

            .form_section {
                margin: 16px 0;

                input {
                    padding: 8px;
                    display: block;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    width: 100%;
                    font: inherit;
                }
            }

            button {
                color: white;
                background-color: #009688;
                float: right;
                border: none;
                display: inherit;
                padding: 8px 16px;
                text-align: center;
                font: inherit;
            }
        }
    }
}

footer {
    grid-area: footer;
    color: white;
    background-color: black;
    padding: 16px;

    >p {
        margin: 15px 0;

        a {
            color: inherit;
            font-size: 15px;
        }
    }
}

@media screen and (max-width:600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 82px;
        grid-template-areas: 
        'mylogo'
        'about'
        'mywork'
        'resume'
        'swingby'
        'contact'
        'footer'  ;
    }

}