* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 82px;
  height: 100vh;
  grid-template-areas: 'mylogo about' 'mywork resume' 'swingby contact' 'footer footer';
}
section {
  row-gap: 16px;
}
footer {
  background-color: black;
}
.section_1 {
  grid-area: mylogo;
  height: 700px;
  color: white;
  background-color: black;
  text-align: center;
}
.section_1 .logo {
  padding: 16px;
}
.section_1 .logo .logo_header {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section_1 .logo .logo_header h2 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
}
.section_1 .logo .logo_content {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.section_1 .logo .logo_content p {
  padding-top: 16px;
  padding-bottom: 16px;
}
.section_1 .logo .logo_content p:nth-of-type(1):hover {
  color: #fff;
  background-color: #607d8b;
}
.section_1 .logo .logo_content p:nth-of-type(2):hover {
  color: #fff;
  background-color: #009688;
}
.section_1 .logo .logo_content p:nth-of-type(3):hover {
  color: #fff;
  background-color: #616161;
}
.section_1 .logo .logo_content p:nth-of-type(4):hover {
  color: #fff;
  background-color: #795548;
}
.section_1 .logo .logo_content a {
  color: white;
  width: 100%;
  padding: 8px 16px;
}
.section_2 {
  grid-area: about;
}
.section_3 {
  grid-area: mywork;
}
.section_4 {
  grid-area: resume;
}
.section_5 {
  grid-area: swingby;
}
.section_6 {
  grid-area: contact;
}
footer {
  grid-area: footer;
}
